from https://wikidocs.net/30707


1.   15년간 발행된 뉴스 기사 제목

실행 오래걸리면 데이터 축약해서 일부만 돌리기
- df_data = pd.read_csv('./abcnews-date-text.csv')
- df_data= df_data.head(10000)

In [ ]:
!curl -O https://raw.githubusercontent.com/franciscadias/data/master/abcnews-date-text.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 51.5M  100 51.5M    0     0   115M      0 --:--:-- --:--:-- --:--:--  115M

In [ ]:
import pandas as pd

In [ ]:
df_data = pd.read_csv('./abcnews-date-text.csv')
df_data= df_data.head(10000)
df_data.head(5)

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

headline만 필요하고 전처리를 진행한다

In [ ]:
head_text = df_data[['headline_text']]
type(head_text)

pandas.core.frame.DataFrame

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

- apply안에 function을 넣는다. 파이썬에서 map과 동일함
- row는 문장 하나, head에 문장을 각각 적용

In [ ]:
head_text.apply(lambda row:nltk.word_tokenize(row['headline_text']), axis=1) # map()

0       [aba, decides, against, community, broadcastin...
1       [act, fire, witnesses, must, be, aware, of, de...
2       [a, g, calls, for, infrastructure, protection,...
3       [air, nz, staff, in, aust, strike, for, pay, r...
4       [air, nz, strike, to, affect, australian, trav...
                              ...
9995    [us, units, attack, palace, as, fighting, rage...
9996    [vasco, win, 10, goal, thriller, in, brazil, o...
9997                    [vic, bushfires, inquiry, begins]
9998      [vic, govt, plan, aims, to, reduce, water, use]
9999    [vic, govt, urged, to, green, light, marina, p...
Length: 10000, dtype: object

In [ ]:
head_text['title_text'] = head_text.apply(lambda row:nltk.word_tokenize(row['headline_text']), axis=1) # map()
head_text.head(3)

                                       headline_text                                         title_text
0  aba decides against community broadcasting lic...  [aba, decides, against, community, broadcastin...
1     act fire witnesses must be aware of defamation  [act, fire, witnesses, must, be, aware, of, de...
2     a g calls for infrastructure protection summit  [a, g, calls, for, infrastructure, protection,...

## 불용어처리
apply로 처리하기. 쓸데없는 a, the, of, as 등

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
print(stop)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

좋은 코드에서 함수를 안 만들고 lambda를 쓰는 이유, 공부해야 하는 이유

In [ ]:
def stopWord(x) :
  result = []
  for word in x :
    if word not in stop or len(word) >= 3 : # 불용어가 아니라면
      titles.apply(word)
  return result

def callStopWord(head_text) :
  titles = []
  for x in head_text['title_text'] :
    titles.apply(stopWord(x))
  return titles

In [ ]:
# 라인 하나로 끝내기
head_text['title'] = head_text['title_text'].apply(lambda x : [word for word in x if (len(word) > 3) if (word not in stop)])
head_text.head(5)
# head_text['title'] = head_text['title_text'].apply(lambda x: [ word for word in x if (len(word) > 3) if (word not in stop)])

                                       headline_text  ...                                        title
0  aba decides against community broadcasting lic...  ...  [decides, community, broadcasting, licence]
1     act fire witnesses must be aware of defamation  ...   [fire, witnesses, must, aware, defamation]
2     a g calls for infrastructure protection summit  ...  [calls, infrastructure, protection, summit]
3           air nz staff in aust strike for pay rise  ...                  [staff, aust, strike, rise]
4      air nz strike to affect australian travellers  ...     [strike, affect, australian, travellers]

[5 rows x 3 columns]

In [ ]:
head_text['title'][3]

['staff', 'aust', 'strike', 'rise']

In [ ]:
# tokens = []
# for i in range(len(head_text)) : # 개수만큼 돌리기
#   tokens.append(head_text['title'][i])
# tokens[3:5]
# tokens 결과 = 리스트의 요소로 들어가있는 것

tokens = []
for i in  range(len(head_text)):
  tokens.append(' '.join(head_text['title'][i]))

tokens[3:5]

['staff aust strike rise', 'strike affect australian travellers']

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(max_features=1000)
X = tfidf.fit_transform(tokens) # 괄호 안에 리스트 형태로 놓어야 함
X.shape

(10000, 1000)

In [ ]:
X[4].toarray() # 모든 단어 0의 파도 중에 벡터값 1개 존재하면 된 것

In [ ]:
from sklearn.decomposition import LatentDirichletAllocation

In [ ]:
#클래스 생성
lda_model = LatentDirichletAllocation()

In [ ]:
lda_top = lda_model.fit_transform(X)

In [ ]:
lda_model.components_, lda_model.components_.shape

(array([[ 0.10000177,  1.27666656,  0.10000078, ...,  0.10000661,
          0.10000087, 17.69070612],
        [ 0.10001054,  0.1       ,  0.1       , ...,  0.10001212,
          4.37403806,  0.10000024],
        [ 0.10000389,  0.10000391,  0.10000898, ...,  0.10001314,
          0.10000631,  0.10001024],
        ...,
        [ 0.1000055 ,  0.1       ,  0.10000163, ...,  0.10000578,
          0.10001023,  0.12498743],
        [ 0.10000552,  0.10001035,  0.10000233, ...,  0.10000222,
          8.13983627,  0.1000062 ],
        [11.66033992,  0.10000058,  0.10000262, ...,  0.10000206,
          0.10000417,  0.10000479]]), (10, 1000))

In [ ]:
terms = tfidf.get_feature_names()
# 단어의 모음들이 나오게 된다.

In [ ]:
n = 5
for idx, topic in enumerate(lda_model.components_):
  print([(terms[i], topic[i]) for i in topic.argsort()[:-n-1:-1]])

[('forces', 31.121366733147784), ('work', 29.603471864568196), ('final', 26.218805504005896), ('missing', 25.665467683976654), ('british', 24.980125762444647)]
[('water', 58.327460983058494), ('plan', 55.81804340052655), ('baghdad', 47.0322016939587), ('urged', 39.19552741881349), ('funds', 34.39805260050762)]
[('season', 33.28653768259262), ('open', 32.913393983101166), ('troops', 32.25798988799342), ('centre', 24.75890494419914), ('lead', 24.65677032809728)]
[('crash', 40.12068699540526), ('dies', 35.0923738848141), ('fire', 33.32920566246947), ('injured', 32.01079006931313), ('peace', 28.968799313276506)]
[('court', 51.571961453968655), ('back', 51.194322004231346), ('found', 33.313133486812085), ('murder', 31.88561716276289), ('says', 30.407022151701177)]
[('iraq', 87.20284470648772), ('council', 46.343145037180975), ('still', 39.0677385463492), ('saddam', 35.58978497864615), ('report', 35.57310670786619)]
[('denies', 37.30670242554075), ('clash', 36.22266153886188), ('plans', 30.88315320146859), ('wins', 25.108801829364648), ('claim', 24.14240067990275)]
[('claims', 37.845109665397686), ('world', 33.495658949262385), ('three', 30.74712193947413), ('govt', 28.16438021036374), ('title', 27.993173313067985)]
[('anti', 60.23234661406544), ('hospital', 52.58354006396903), ('rain', 38.50736713761092), ('protest', 36.34782999888704), ('protesters', 34.34773240271157)]
[('police', 55.77840501429268), ('death', 41.476628775825205), ('drought', 36.84893248677245), ('coast', 35.31016394268905), ('trial', 30.19787908536214)]